body {
    background-color: #1e1e1e;
}

#message {
    margin: 50px auto;
    width: 410px;
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
    color: #84e812;
}

.container {
    margin: 50px auto;
    width: 50vw;
}

.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #a0c4ff;
    cursor: pointer;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    box-shadow: none;
    border: none;
}

.card:hover {
    border: 2px solid #ff61ff;
    box-shadow: inset 0px 0px 0px 5px #9bf6ff;
    box-sizing: border-box;
}

.angel {
    background-image: url(images/angel.png);
    background-size: 100px;
}

.cool {
    background-image: url(images/cool.png);
    background-size: 100px;
}

.lol {
    background-image: url(images/lol.png);
    background-size: 100px;
}

.smart {
    background-image: url(images/smart.png);
    background-size: 100px;
}

.surprised {
    background-image: url(images/surprised.png);
    background-size: 100px;
}

.sick {
    background-image: url(images/sick.png);
    background-size: 100px;
}

.hot {
    background-image: url(images/hot.png);
    background-size: 100px;
}

.heart-eyes {
    background-image: url(images/heart-eyes.png);
    background-size: 100px;
}

.blank {
    background-image: url(images/blank.png);
    background-size: 100px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    background-color: #f8801d;
    border: none;
    border-radius: 15px;
    outline: none;
}

button:hover {
    background-color: #d36d19;
}

button:active {
    transform: translateY(5%);
}
